@import "./src/scss//breakpoint.scss";

.page {
  background-color: #000;
  color: #fff;

  &__container {
    width: 100%;
    background-color: #10141b;
    padding-bottom: 5rem; // pb-20
    @include breakpoint(xs) {
      display: none;
    }
    @include breakpoint(sm) {
      display: none;
    }
    @include breakpoint(md) {
      display: none;
    }
    @include breakpoint(lg) {
      display: none;
    }
  }

  &__container-responsive {
    display: none;
    @include breakpoint(xs) {
      display: block;
    }
    @include breakpoint(sm) {
      display: block;
    }
    @include breakpoint(md) {
      display: block;
    }
    @include breakpoint(lg) {
      display: block;
    }
    @include breakpoint(xl) {
      display: none;
    }
  }

  &__title {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__title-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    background-color: #ffd700;
  }
}

.movie-card {
  overflow: hidden;
  border-radius: 12px;
  @include breakpoint(xs) {
    height: 32vh;
  }
  @include breakpoint(sm) {
    height: 33vh;
  }
  @include breakpoint(md) {
    height: 33vh;
  }
  @include breakpoint(lg) {
    height: 33vh;
  }

  &__img {
    width: 100%;
    height: 264px;
    transition: transform 0.3s ease-in-out;
    border-radius: 12px;

    &:hover {
      transform: scale(1.05);
    }
    @include breakpoint(xs) {
      -webkit-box-reflect: below 0px
        linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    }
    @include breakpoint(sm) {
      -webkit-box-reflect: below 0px
        linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    }
    @include breakpoint(md) {
      -webkit-box-reflect: below 0px
        linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    }
    @include breakpoint(lg) {
      -webkit-box-reflect: below 0px
        linear-gradient(transparent, rgba(0, 0, 0, 0.3));
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
    font-size: 0.875rem;
    color: #9ca3af;
    column-gap: 1.25rem;

    @include breakpoint(xs) {
      display: none;
    }
    @include breakpoint(sm) {
      display: none;
    }
    @include breakpoint(md) {
      display: none;
    }
    @include breakpoint(lg) {
      display: none;
    }
  }

  &__name {
    font-weight: 700;
    @include breakpoint(xs) {
      text-align: center;
    }
    @include breakpoint(sm) {
      text-align: center;
    }
    @include breakpoint(md) {
      text-align: center;
    }
    @include breakpoint(lg) {
      text-align: center;
    }
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .mySwiper {
    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

@media only screen and (max-width: 480px) {
  .mySwiper {
    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
