@import "./src/scss//breakpoint.scss";
@import "./src/scss//variable.scss";

.page {
  background-color: $color-black;
  color: $color-white;

  &__container {
    width: 100%;
    background-color: $color-theme-content;
    padding-bottom: 5rem;
    padding-top: 70px;
  }

  &__title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.promotion-card {
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid $color-border-card;

  &__img {
    width: 100%;
    height: 210px;
    transition: transform 0.3s ease-in-out;
    // border-radius: 12px;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
    font-size: 0.875rem;
    color: $color-info;
    column-gap: 1.25rem;
    padding-left: 15px;
  }

  &__name {
    font-weight: 700;
    padding-left: 15px;
  }
}
