@import "./src/scss//breakpoint.scss";
@import "./src/scss//variable.scss";
.movie-page {
  background-color: $color-theme-content;
  padding-top: 100px;

  &__title {
    margin-bottom: 1.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
  }

  &__title-dot {
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    background-color: $color-yellow;
  }
  .tab-container {
    justify-self: center;
    margin-bottom: 30px;
    // border: 1px solid green;
    .name-tab {
      color: $color-white !important;
      // background-color: $color-yellow !important;
      border-radius: 10px !important;
      border: 1px solid $color-white !important;
      margin-right: 20px !important;
      font-weight: bolder !important;

      &:hover {
        background-color: $color-button-banner-hover !important;
      }
      &.Mui-selected {
        background-color: $color-yellow-100 !important;
      }
    }
  }
}

.movie-card {
  display: flex;
  gap: 20px;
  overflow: hidden;
  border-radius: 12px;
  height: 350px;
  // margin-top: 30px;

  border: 1px solid $color-border-card;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  &__image {
    flex: 0 0 40%;

    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 8px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
    margin-top: -18px;
  }

  &__type {
    border: 1px solid $color-border-card;
    width: 40px;
    padding: 3px 8px;
    font-size: 1rem;
    font-weight: bold;
    color: $color-white;
    border-radius: 5px;
    margin-left: 270px;
    margin-top: -19px;
  }

  &__genre-time {
    display: flex;
    font-size: 0.875rem;
    color: $color-info;
    font-weight: 500;
    gap: 20px;
  }

  &__date {
    font-size: 0.875rem;
  }

  &__name {
    font-weight: 700;
    font-size: 0.85rem;
    height: 2.25rem;
    width: 80%;
    margin: 0;
  }
  &__nation {
    font-size: 0.875rem;
  }
  &__age-rating {
    color: $color-yellow;
  }

  &__showtime {
    width: 50px;
    padding: 5px 8px !important;
    border: 1px solid $color-white !important;
    background-color: $color-black !important;
    border-radius: 8px !important;
    margin-right: 10px !important;
    margin-top: 8px !important;

    &:hover {
      background-color: $color-button-banner-hover !important;
    }
  }
}
