@import "./src/scss//breakpoint.scss";
@import "./src/scss//variable.scss";
.movie-detail-page-container {
  background-color: $color-theme-movie-detail-container;
}
.movie-detail-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
  position: relative;

  // Thêm overlay để làm tối và mờ nền
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-black-60; // Màu đen với độ trong suốt 60%
    backdrop-filter: blur(5px); // Hiệu ứng làm mờ
    z-index: 1;
  }
}

.movie-detail-content-container {
  max-width: 1000px !important;
}

.movie-detail-content {
  display: flex;
  position: relative;
  z-index: 2;
  color: $color-white;
  padding: 100px 0;
  gap: 40px;

  &__img {
    flex: 0 0 250px;
    max-width: 250px;

    img {
      width: 100%;
      border-radius: 12px;
    }
  }

  &__name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-right: 20px;
  }

  &__type {
    border: 1px solid $color-white;
    display: inline-block;
    padding: 6px 8px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
    color: $color-white;
  }

  &__genre,
  &__nation,
  &__time {
    margin-right: 20px;
    font-size: 16px;
  }

  &__description {
    display: block;
    width: 90%;
    margin-top: 16px;
    line-height: 1.6;
  }

  &__ageRating {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
    color: $color-yellow;
  }

  &__button {
    margin-top: 24px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    color: $color-yellow !important;
    padding: 5px 20px !important;
    border: 1px solid $color-yellow !important;
    border-radius: 20px !important;
    font-size: 16px !important;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.tab-section {
  .tab-container {
    justify-self: center;
    // margin-bottom: 30px;

    .name-tab {
      color: $color-white !important;
      // background-color: $color-yellow !important;
      border-radius: 10px !important;
      border: 1px solid $color-white !important;
      margin-right: 20px !important;
      font-weight: bolder !important;

      &:hover {
        background-color: $color-button-banner-hover !important;
      }
      &.Mui-selected {
        background-color: $color-yellow-100 !important;
      }
    }
  }

  .tab-panel {
    display: flex;
    background-color: #10141b;
    padding: 20px;
    justify-content: center;
    .note {
      font-size: 16px;
      color: $color-red;
      margin-bottom: 20px;
    }
    .showtime-buttons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
      // max-width: 600px;

      .button {
        background-color: rgba(0, 0, 0, 0) !important;
        color: $color-yellow !important;
        padding: 5px 70px !important;
        border: 1px solid $color-yellow !important;
        border-radius: 20px !important;
        font-size: 16px !important;
        font-weight: 600;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .button {
      background-color: rgba(0, 0, 0, 0) !important;
      color: $color-yellow !important;
      padding: 5px 70px !important;
      border: 1px solid $color-yellow !important;
      border-radius: 20px !important;
      font-size: 16px !important;
      font-weight: 600;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.selected-time {
  margin-top: 20px;
}

.seat-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  .seat {
    width: 42px;
    height: 42px;
    background: $color-seat-normal;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin: 0 2px;

    &.vip {
      background: $color-seat-vip;
    }
    &.double {
      background: $color-seat-double;
    }
    &.booked {
      background-image: url("https://chieuphimquocgia.com.vn/_next/image?url=http%3A%2F%2Fapiv2.chieuphimquocgia.com.vn%2FContent%2FImages%2F0019018_0.jpg&w=3840&q=75");
      background-size: 42px 42px;
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
    }
    &.selected {
      background: $color-seat-selected;
      border: 2px solid $color-white;
    }
  }
}
.category-seat-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;

  .category-seat-dot {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    // background-color: $color-yellow;
  }
  .category-seat-booked {
    display: flex;
    gap: 10px;
    align-items: center;
    .category-seat-dot {
      background-image: url("https://chieuphimquocgia.com.vn/_next/image?url=http%3A%2F%2Fapiv2.chieuphimquocgia.com.vn%2FContent%2FImages%2F0019018_0.jpg&w=3840&q=75");
      background-size: 42px 42px;
      background-repeat: no-repeat;
      background-position: center;
      color: transparent;
    }
  }
  .category-seat-selected {
    display: flex;
    gap: 10px;
    align-items: center;
    .category-seat-dot {
      background: $color-seat-selected;
    }
  }
  .category-seat-normal {
    display: flex;
    gap: 10px;
    align-items: center;
    .category-seat-dot {
      background: $color-seat-normal;
    }
  }
  .category-seat-vip {
    display: flex;
    gap: 10px;
    align-items: center;
    .category-seat-dot {
      background: $color-seat-vip;
    }
  }
  .category-seat-double {
    display: flex;
    gap: 10px;
    align-items: center;
    .category-seat-dot {
      background: $color-seat-double;
    }
  }
}
.info-seat-selected {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  .button-payment {
    background-color: $color-yellow;
    color: $color-black;
    padding: 5px 40px;
    border: 1px solid $color-yellow;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;

    &:hover {
      transform: scale(1.05);
    }
  }
}
