.footer {
  padding: 20px 0;

  &__container {
    font-size: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__links {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 16px;
  }

  &__link-item {
    margin-bottom: 8px;
  }

  &__link {
    &:hover {
      color: #ffd700;
    }
  }

  &__copyright {
    font-size: 18px;
    margin-top: 16px;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .footer {
    &__container {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    &__container {
      font-size: 16px;
    }
    &__links {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
}
