$color-white: #fff;
$color-black: #000;
$color-yellow: #ffd700;
$color-theme-content: #10141b;
$color-info: #9ca3af;
$color-button-banner: #ffffff33;
$color-button-banner-hover: #ffffff4c;
$color-border-card: #7a7b83;
$color-button-question: #252a31;
$color-button-answer: #191e25;
$color-theme-movie-detail-container: #1a1d23;
$color-black-60: #00000099;
$color-red: #ff0000;
$color-seat-normal: #333;
$color-seat-vip: #ff8413;
$color-seat-double: #ff3741;
$color-seat-selected: #1976d2;
$color-input-bg: #020817;
$color-input-border: rgba(255, 255, 255, 0.3);
$color-input-border-hover: rgba(255, 255, 255, 0.5);
